body{
    margin: 50px;
    border-style: solid;
    border-color: black;
    background-color: beige;
    font-family: sans-serif
}
header {
    text-align: center;
    height: 250px;
    width: 249px;
    float: left;
    margin: 40px;
}
.logo{
    margin: 50px;
    border-style: solid;
    border-color: black;
}
nav {
    flow: left;
    overflow: hidden;
    background-color: #f1e3a1;
    width:67%;
    border-style: solid;
    border-color: #000000;
    margin: 40px;
    display: inline-block;
    text-align: center;
  
}
nav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  nav a:hover {
    background-color: white;
    color: black;
}
section {

        width: 90%;
        padding: 20px;
        resize: both;
      
        clear: both;
        border-style: solid;
        border-color: #000000;
        margin: 60px;
}
.s1{
    text-align: justify;
    font-family: sans-serif;
} 
.s2{
    text-align: justify;
    font-family: sans-serif
}.
.s3{
    text-align: justify;
    font-family: sans-serif
}
h2{
    color: rgb(95, 55, 3);
    font-family: sans-serif;
}
h4{
    font-family: sans-serif
}
h1{
    font-size: 150%;
    color: rgb(95, 55, 3);
    font-style: italic;
}
